body {
	font-family: monospace;
	font-size: 10pt;
	color: #555;
	background-color: #fff;
	text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .3);
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0);
	position: relative;
}

.jumbotron {
	background-color: #fff;
	min-height: 100%;
}

.arabic {
	direction: rtl;
}

.logoblock {
    font-size: 8pt;
}

.emphasis {
	color: #f00;
}

.heavy {
	font-weight: 800;
}

a.circleicon {
	display: inline-block;
	border-radius: 100px;
	border-color: #555;
	border-style: dotted;
 	border-width: 1px;
 	padding: 1rem 1.7rem;
	font-size: 1.5rem;
}

a.circleiconmini {
	display: inline-block;
	border-radius: 50px;
	border-color: #555;
	border-style: dotted;
 	border-width: 1px;
 	padding: .5rem .9rem;
}

a.circleicon,
a:visited.iconWrapper,
a:focus.iconWrapper,
a:hover.iconWrapper{
	text-decoration: none;
	color: #000;
}

/* Links */
a,
a:visited {
  color: #000;
}

a:focus,
a:hover {
  color: #000;
}


/*
 * Base structure
 */

.cover-container {
  max-width: 42em;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.navbar {
	background-color:rgb(255, 255, 255, .925);
}

.container {
	padding-top: 5rem;
}